h1 {
    color: green;
} 

h2 {
    color: maroon;
    margin-left: 40px;
} 

div{
    height: 100px;
    width: 100px;
    margin-left: 110px;
    background-color: white;
    position: absolute;
    transition: background-color 2s; // This transition will change the background color in 2 seconds.
}

div:hover{
    background-color: red; // It will go from white to red.
}
