div{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px;
    transform: rotate(0deg);
    visibility: hidden;
}

#div.appear{
    visibility: visible;
}
